.font-noto {
  font-family: "Noto Sans", sans-serif;
}
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #fbbf24, #fffbeb);
}
.text-justify-auto {
  text-justify: none;
}
